body{
    margin: 0px;
    padding:0px;
}

.bold{
    font-weight: bold!important;
}

.bold:hover{
    color: red!important;
    font-size: 15px;
    border: 2px solid red;
    padding: 5px;
    margin: 4px;
    background-color: aliceblue!important;
}

/***********/
/*LOGO DE ENFERMERIA DEL NAV*/
#enfconec{
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
#logo{
    width: 100px;
    height: 60px;
}

@media (max-width: 400px){
    #enfconec{
        font-size: 14px;
    }
    #logo{
        width: 100px;
        height: 50px;
    }
}

@media (max-width: 350px){
    #enfconec{
        font-size: 12px;
    }

    #logo{
        width:80px;
        height: 40px;
    }

}

/**************/


.texto-portada{
    margin-top: 0;
    height: 400px;
    background-image: url("../ASSETS/IMAGENES/BANNERS/Banner_Principal.webp");
    background-size:100% 400px;
    background-repeat: no-repeat;
    background-position: center;
}
.portadita{
    padding:20px;
    background-color:rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    border-radius: 20px;
}
.novedades{
    border-bottom: 1px solid black;
}
img.imagen-novedad{
    border-radius: 20px;
    width:400px;
}

.linkboton{
    text-decoration: none;
     color:dark;
    font-weight: bold;
}

/**************************/
/*TEXTO DE PORTADA EN RESPONSIVE*/

#espaciado{
    display: none;
}

@media(max-width: 1000px){
    #espaciado{
        display:block;
    }
    #textotarjeta{
        text-align: center;
     
    }
}


/*************************/


@media (max-width:1000px){
    .texto-portada{
        height: 300px;
        background-size: 100% 350px;
    }
    .subtitulo{
        text-align: center;
        font-size: 20px;
    }
    .parrafo{
        font-size: 10px;
        text-align: justify;
    }
    #noticias{
        width: 100%;
    }
    .novedades{
        text-align: center;
    }
    .letras{
        padding-left: 1rem;
    }
}
@media (max-width:600px){
    .texto-portada{
        height: 150px;
        background-size: 100% 160px;
    }
    .subtitulo{
        text-align: center;
        font-size: 20px;
    }
    .parrafo{
        font-size: 10px;
        text-align: justify;
 
    }
}

@media (max-width: 500px){
    .letras{
        font-size: 10px;
        text-align: justify;
    }
}



/*MENU DESPLEGABLE DE HERRAMIENTAS*/


li{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
}

.listasss{
    text-decoration: none;
}

#botonherramientas{
    position: fixed;
    bottom: -10%;
    right: 10%;
    z-index: 100000000;
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

@media (min-width:1200px){
    #botonherramientas{
        display: none;
    }


}


 @media (max-width: 1200px){
    #herramientas{
        display: none;
    }
 }


/***********************LETRAS AVISO IMPORTANTE MOMENTANEO****************************************************/

.portadita2{
    padding:20px;
    background-color:rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    border-radius: 20px;
}

p.letras_aviso{
    color: orangered;
    font-weight: bolder;
    text-align: center;
}

#letras_aviso h5{
    color: orangered;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5em;
}

#fecha{
    text-align: start;
    font-size: 2,4em;
    color: rgb(49, 79, 231);
    font-weight: bolder;
    margin-bottom: 3px;
}
date{
    border: 1px solid rgb(49, 79, 231);
    border-radius: 5px;
    padding: 4px;
    background-color: aliceblue;
}
.leyenda{
    display: none;
}
.imagen-link{
    display: block;
}
@media (max-width: 774px){
    .leyenda{
        display: block;
        font-weight: bolder;
    }
    .imagen-link{
        display: block;
    }
}

.borde-marco{
    border-radius: 19px;
}

.calesita{
    margin-bottom: 10px;
}

/************TIRA DE FOTOS***************/
/***SECCION 2***/
.seccion2{
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
}

.contenedorsuperior{/*USAMOS ESTE CONTENEDOR PARA PODER OCULTAR Y HACER UN MINI SCROLL LATERAL CON LA PROPIEDAD OVERFLOW*/
    overflow-x: scroll ;/*NOS PERMITE MANIPULAR EL CONTENIDO QUE DESBORDA AL ELEMENTO PADRE*/
}
.contenedordetira{
    display: flex;/*hace que las fotos esten pegadas una al lado de la otr*/
}

.tituloscroll{
    text-align: center;
}


.carta{
    margin-left: 10px;
    width: 250px;
    flex-shrink: 0;/*esto hace que no se redimensionen*/
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px 1px #000000;
}
.contenedor_img{
    width: 250px;
}

.imagen_Tira{
    width:100%;
    height: 190px;
}
.contenedor_extratitulo h5{
    margin: 0;
    text-align: center;
    font-size: 0,5em;
    text-decoration: none;
}

#texto-link{
    height: 90px;
}

/*INFERIOR*/
