body{
    margin: 0px;
    padding:0px;
}

.portadita{
    padding:20px;
    background-color:rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    border-radius: 20px;
}
.novedades{
    border-bottom: 1px solid dark;
}

#texto{
 align-items: center;
 font-weight: bold;
}

.borde{
     border: 1px solid blue;
     box-shadow: 2px 2px 2px 2px rgba(1, 1, 112, 0.2);
    
}

.parrafo{
    text-align: justify;
}

 #visorpdf{
    border: 1px solid black;
    width: 100%; /* takes precedence over the width set with the HTML width attribute */
}

#tarjeta{
    display: none;
}

@media (max-width:1000px){
    .titulo{
        text-align: center;
    }

    .parrafo{
        font-size: 10px;
        text-align: justify;
    }
    .lista1{
        font-size: 15px;
    }

    #visorpdf{
        display: none;
    }
    #tarjeta{
        display: contents;
        width: 450px;
        height: auto;
    }
    #foto{
        width: 400ppx;
        height: auto;
    }
    .pieletra{
        font-size: 10px;
    }
}