:root{
    --blanco-gris:#F7F9F9 ;
    --monserrat: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}



.principal{
    width: 100%;
    display: grid;
    grid-template-areas:
    "nav" "nav" "nav"
    ;

}
@media only screen and (min-width:280px){
    .principal header.principal__header{
        width: 100%;
        height: 200px;
        background-image: url("../ASSETS/IMAGENES/HIM-1_1_800x400.jpg");
        background-size:cover;
        background-position: center;
        grid-area: nav;

    }
    div.principal__contenedor--logo--titulo{
        width: 220px;
        margin-left: 0px;
        display: flex;
        align-items: center;
        justify-self: flex-start;
        
    }
    img.principal__logo{
        width: 50px;
        height: 40px;
        margin: 5px 0 5px 5px;
        padding-top: 5px;
        filter: drop-shadow(2px 2px 5px black);
    }
    span.principal__empresa1{
        filter: drop-shadow(2px 2px 5px black);
    }
    p.principal__empresa{
        font-family: var(--monserrat);
        font-size: 10px;
        color: var(--blanco-gris);
        padding: 5px 10px 0 10px;
        margin-bottom: 0px;
        text-shadow: 2px 2px 5px black;
        font-weight: bolder;
    }
    #nav-conteiner{
        display: none;
    }
}
/*      BP  360    ----------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width:360px){
    .principal header.principal__header{
        overflow: hidden;

    }
    div.principal__contenedor--logo--titulo{
        width: 300px;
        margin-left: 0px;
    }
    img.principal__logo{
        width: 70px;
        height: 50px;
        margin: 5px 0 5px 5px;
        padding-top: 5px;
        filter: drop-shadow(2px 2px 5px black);
    }
    .principal__empresa1{
        filter: drop-shadow(2px 2px 5px black);
    }
    p.principal__empresa{
        font-family: var(--monserrat);
        font-size: 13px;
        color: var(--blanco-gris);
        padding: 5px 10px 0 10px;
        margin-bottom: 0px;
        text-shadow: 2px 2px 5px black;
        font-weight: bolder;
    }
    nav.principal__Nav{
        display: none;
    }
}


/*      BP  430    ----------------------------------------------------------------------------------------------------------------------*/
@media(min-width:420px){
    .principal header.principal__header{
        overflow: hidden;

    }
    div.principal__contenedor--logo--titulo{
        width: 350px;
    }
    p.principal__empresa{
        font-size: 18px;
    }
    nav.principal__Nav{
        display: none;
    }
}
/*      BP  540    ----------------------------------------------------------------------------------------------------------------------*/
@media(min-width:540px){
    .principal header.principal__header{
        overflow: hidden;

    }
    div.principal__contenedor--logo--titulo{
        width: 450px;
    }
    img.principal__logo{
        width: 80px;
        height: 60px;
    }
    p.principal__empresa{
        font-size: 20px;
        margin-left: 50px;
        margin-bottom: 5px;
    }
    nav.principal__Nav{
        display: none;
    }
}