:root{
    --blanco-gris:#F7F9F9 ;
    --monserrat: 'Montserrat', sans-serif;
}
*{
    box-sizing: border-box;
}

/*         BP 280        */
@media (max-width: 280px){
    .lista__Oculta{
        width: 290px;
        border: none;
    }
}

/*         BP 360        */
@media (max-width: 360px){
    .lista__Oculta{
        top: 0px;
        right: 0px;
    }
}

/*         BP 375        */
@media (max-width: 375px){
    .lista__Oculta{
        top: 0px;
        right: 0px;
    }
}


/*         BP 390        */
@media (max-width: 390px){
    .lista__Oculta{
        width: 390px;
        top: 0px;
        right: 0px;
    }
}

/*         BP 420        */
@media (max-width: 420px){
    .icono__Hamburguesa{
        color: #FFFFFF;
        width: 40px;
        height: 40px;
        font-size: 1.5em;
        border: 3px solid #FFFFFF;
        border-radius: 7px;
        padding: 0 4px 4px 4px;
        margin-top: 5px;
        margin-left: 10px;
        background-color: transparent;
        box-shadow: 2px 2px 15px black;
        cursor: pointer;
    }
    
    
    .lista__Oculta{
        top: 0px;
        right: 0px;
    }

    .lista__Oculta{
        display: none;
        width: 300px;
        background-color: #F1EFEF;
        padding: 0px;
        position: absolute;
        top: 0px;
        right: 0px;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        box-shadow: -100px 0px 10px 600px rgba(0, 0, 0, 0.4);
    }
}

/*         BP 430        */
@media (max-width: 430px){
    .contenido__Lateral{
        justify-self: flex-end;
    }

    
    .contenido__Lateral{
        display: flex;
        justify-content: flex-end;
    }

    .icono__Hamburguesa{
        color: #FFFFFF;
        width: 40px;
        height: 40px;
        font-size: 1.5em;
        border: 3px solid #FFFFFF;
        border-radius: 7px;
        padding: 0 4px 4px 4px;
        background-color: transparent;
        box-shadow: 2px 2px 15px black;
        cursor: pointer;
    }
    
    .contenido__Lateral{
        display: flex;
        justify-content: flex-end;
    }
    
    .lista__Oculta{
        display: none;
        width: 300px;
        background-color: #FFFFFF;
        padding: 0px;
        position: absolute;
        top: 0px;
        right: 0px;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        box-shadow: -100px 0px 10px 600px rgba(0, 0, 0, 0.4);
    }

    .icono__CerrarMenu{
        left: 65%;
    }

    .form__Oculto .form-item{
        text-decoration: none;
        font-family: var(--monserrat);
        color: palevioletred;
        font-weight: bold;
    }

    .margin-ul{
        padding-left: 0;
    }

    .border_form-item{
        border-bottom: 1px solid salmon;
        padding-bottom: 5px;
        padding-right: 20px;
    }

    .margin-item{
        margin-top: 20px;
    }
}



.contenido__Lateral{
    display: none;
}

@media(max-width:900px){

.contenido__Lateral{
    display: flex;
    justify-content: flex-start;
    width: 20%;
    right: 0;
}

.icono__Hamburguesa{
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    justify-content: flex-end;
    border: 3px solid #FFFFFF;
    border-radius: 7px;
    padding: 0 4px 4px 4px;
    background-color: transparent;
    box-shadow: 2px 2px 15px black;
    cursor: pointer;
}

.icono__Hamburguesa:hover{
    cursor: pointer;
    border-color:3px solid #87CEFA ;
}

/*.lista__Oculta{
    width:400px;
    height: 75vh;
    justify-self: flex-end;
    display: none;
    position: absolute;
        top: 0px;
        left: 120px;
    background-color: #FFFFFF;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0 0 0 10px;
    box-shadow: -100px 0px 10px 600px rgba(0, 0, 0, 0.4); /*SOMBRA QUE DEJA UN POCO OCULTO EL FONDO
    
}*/


.oculta__Contenido{
    width: 100%;
}

.icono__CerrarMenu{
    background-color: red;
    width: 50px;
    color: var(--blanco-gris);
    font-size: 20px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    position: relative;
    top: 5px;
    left: 78%;
    border: none;
    box-shadow: 2px 2px 2px black;
}

.opciones__Ocultas{
    margin: 10px 20px;
    font-family: var(--monserrat);
}
.form__Oculto{
    display: none;
}

.links__Menu{
    padding: 5px 0;
    border-bottom: 3px solid pink;
}
.links__a{
    text-decoration: none;
    color: hotpink;
    font-size: 30px;
    font-weight: bolder;
    
}

.sub_Linea{
    border-bottom: 3px solid darkblue;
}

.estilo__Botones{
    color: hotpink;
    font-size: 30px;
    font-weight: bolder;
    padding: 5px 0;
    border: none;
    background-color: transparent;
}

}


@media (max-width: 430px){
    
    
   /* .lista__Oculta{
        display: block;
        width: 300px;
        background-color: #FFFFFF;
        padding: 0px;
        position: absolute;
        top: 0px;
        right: 0px;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        box-shadow: -100px 0px 10px 600px rgba(0, 0, 0, 0.4);
    }*/

  /*  .icono__CerrarMenu{
        left: 65%;
    }*/
}



