:root{
    --Oswald:'Lato', sans-serif, 'League Spartan', sans-serif,'Oswald', sans-serif;
    --Fondo: #318CE7;
    --titulo: #FFFFFF;
    --Fondo-Gris:#EEEEEE;
    --Azul-Antibioticos: #1357a6;
    --advertencia: #FFFF3D;
    --diureticos: #effe1ee7;
    --verde-Calcular: #39e75f;
    --sedacion:#03F934;
    --Verde-Sedacion: #089c41;
    --rojo-Inotropicos: #B71C1C;
    --gris-Tarjeta: #b5b5b5b5;
    --medicamentos-varios: #e47200;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;

}
.contenedor{
    background-color: var(--Fondo);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.titulo{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: var(--Oswald);
    color: var(--titulo);
    font-size: 1.3em;
    padding: 5px 20px ;
    font-weight: bolder;
}

#medicamentos{
    display: grid;
    margin-top: 1em;
    align-items: center;
}

.input-1{
    margin: 0 auto;
    position: relative;
}

.input__Medicamento{
    width: 300px;
    height: 40px;
    color: var(#000000);
    font-size: .9em;
    font-weight: 800;
    padding-top: 1em;
    padding-left: .5em;
    margin-bottom: 10px;
    border-radius: .3em;
    border: none;
    outline: none;
}

.input__Medicamento:not(:placeholder-shown) + .label__Medicamento, .input__Medicamento:focus + .label__Medicamento{
    transform: translateY(-2px) scale(.7);
    transform-origin: top left;
    color: var(--Fondo);
}

.label__Medicamento{
    font-size: 1.3em;
    color: var(--Fondo);
    font-weight: bolder;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.input-2{
    margin: 0 auto;
    position: relative;
}

.input__Miligramos{
    width: 300px;
    height: 40px;
    color: var(#000000);
    font-size: .9em;
    font-weight: 800;
    padding-top: 1em;
    padding-left: .5em;
    margin-bottom: 10px;
    border-radius: .3em;
    border: none;
    outline: none;
}

.input__Miligramos:not(:placeholder-shown) + .label__Miligramos, .input__Miligramos:focus + .label__Miligramos{
    transform: translateY(-2px) scale(.7);
    transform-origin: top left;
    color: var(--Fondo);
}


.label__Miligramos{
    font-size: 1.3em;
    color: var(--Fondo);
    font-weight: bolder;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.botonera{
    width: 300px;
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    padding-bottom: 20px;
    
}

button{
    width: 100px;
    margin: auto 0;
    padding: 10px 20px;
    border-radius: 2em;
    background-color: var(--verde-Calcular);
    font-family: var(--Oswald);
    font-weight: bolder;
    color: var(--titulo);
    border: none;
}
.boton1{
    width: 300px;
}
.boton{
    width: 300px;
    align-items: center;
    display: none;
    background-color: plum;
}
.aviso{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.resultado{
    background-color: var(--Fondo-Gris);
    padding: 10px 0;
    border-top: 3px solid #000000;
}

.resp{
    font-family: var(--Oswald);
    font-weight: bolder;
    color: #000000;
    text-align: center;
    font-size: 1.5em;
    
}

.contenedor__Grilla{
    text-align: center;
}

.nombre__Farmaco{
    font-family: var(--Oswald);
    color: var(--titulo);
    font-size: 35px;
    background-color: var(--Azul-Antibioticos);
    padding: 15px 0;
    margin: 0 10px;
    border-radius: 10px;
}



.contenedor__Info{
    text-align: start;
    display: grid;
    grid-template-columns: 1fr;

}

.contenedor__Presentacion{
    margin: 20px 10px 30px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.titulo__Presentacion{
    color: var(--titulo);
    font-family: var(--Oswald);
    background-color: var(--Azul-Antibioticos);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.presentacion{
    padding: 10px;
}
.reconstitucion{
    color: var(--titulo);
    font-family: var(--Oswald);
    background-color: var(--Azul-Antibioticos);
    height: 90px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.reconstitucion__NO{
    background-color: var(--rojo-Inotropicos);
    color: var(--titulo);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.datos{
    text-align: center;
    padding: 20px 5px;
    background-color: var(--gris-Tarjeta);
    font-weight: bolder;
    border-radius: 10px;
    margin: 10px 0;
    height: auto;
}

.datos__Insulina{
    padding: 20px 5px;
    background-color: var(--gris-Tarjeta);
    font-weight: bolder;
    border-radius: 10px;
    margin: 10px 0;
    height: auto;
}

.lista__Insulina{
    text-align: center;
    list-style:none;
}

.estabilidad{
    margin: 10px 10px 0 10px;
    font-size: 40px;
    color: var(--Azul-Antibioticos);
    font-weight: bolder;
    padding: 10px 10px 10px 10px;
    border-bottom: 3px solid var(--Azul-Antibioticos);
    text-align: center;
}

.contenedor__Estabilidad{
    margin: 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.texto__Estabilidad{
    text-align: center;
    font-weight: bold;
    background-color: var(--advertencia);
    padding: 10px;
    border-radius: 10px;
}

.texto__Blanco{
    font-weight: bold;
}

.texto__Observaciones{
    background-color: var(--gris-Tarjeta);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.texto1{
    height: 50px;
    font-size: 30px;
    padding: 10px;
    margin: 10px 10px 0px 10px;
    text-align: start;
}

.administracion{
    font-family: var(--Oswald);
    font-size: 30px;
    color: var(--Azul-Antibioticos);
    margin: 10px 10px 0 10px;
    padding: 10px 0;
    text-align: center;
    border-bottom: 3px solid var(--Azul-Antibioticos);
}

/******************************************************************************/
/*COLOR DE LOS INOTROPICOS*/
.nombre__Farmaco2{
    font-family: var(--Oswald);
    color: var(--titulo);
    font-size: 30px;
    background-color: var(--rojo-Inotropicos);
    padding: 15px 0;
    margin: 0 10px;
    border-radius: 10px;
}

.titulo__Presentacion2{
    color: var(--titulo);
    font-family: var(--Oswald);
    background-color: var(--rojo-Inotropicos);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.presentacion2{
    text-align: center;
    padding: 20px;
}
.reconstitucion2{
    color: var(--titulo);
    font-family: var(--Oswald);
    background-color: var(--rojo-Inotropicos);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
}

.estabilidad2{
    margin: 10px 10px 0 10px;
    font-size: 40px;
    color: var(--rojo-Inotropicos);
    padding: 10px 10px 10px 10px;
    border-bottom: 3px solid var(--rojo-Inotropicos);
    text-align: center;
}

.administracion2{
    color: var(--rojo-Inotropicos);
    margin: 10px 10px 0 10px;
    padding: 10px 0;
    text-align: center;
    border-bottom: 3px solid var(--rojo-Inotropicos);
    font-size: 40px;
}


.datos__Fotosensible{
        text-align: center;
        padding: 20px 5px;
        background-color: var(--advertencia);
        font-weight: bolder;
        border-radius: 10px;
        margin: 10px 0;
        height: auto;
}

/*COLOR DE LOS SEDACION*/
.nombre__Farmaco3{
    font-family: var(--Oswald);
    color: var(--titulo);
    font-size: 30px;
    background-color: var(--Verde-Sedacion);
    padding: 15px 0;
    margin: 0 10px;
    border-radius: 10px;
}

.titulo__Presentacion3{
    color: var(--titulo);
    font-family: var(--Oswald);
    background-color: var(--Verde-Sedacion);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.presentacion2{
    text-align: center;
    padding: 20px;
}
.reconstitucion3{
    color: var(--titulo);
    font-family: var(--Oswald);
    background-color: var(--Verde-Sedacion);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
}

.estabilidad3{
    margin: 10px 10px 0 10px;
    font-size: 40px;
    color: var(--Verde-Sedacion);
    padding: 10px 10px 10px 10px;
    border-bottom: 3px solid var(--Verde-Sedacion);
    text-align: center;
}

.administracion3{
    color: var(--Verde-Sedacion);
    margin: 10px 10px 0 10px;
    padding: 10px 0;
    text-align: center;
    border-bottom: 3px solid var(--Verde-Sedacion);
    font-size: 40px;
}

.datos__Fotosensible{
        text-align: center;
        padding: 20px 5px;
        background-color: var(--advertencia);
        font-weight: bolder;
        border-radius: 10px;
        margin: 10px 0;
        height: auto;
}

/*COLOR DE LOS MEDICAMENTOS VARIOS*/
.nombre__Farmaco4{
    font-family: var(--Oswald);
    color: var(--titulo);
    font-size: 30px;
    background-color: var(--medicamentos-varios);
    padding: 15px 0;
    margin: 0 10px;
    border-radius: 10px;
}

.titulo__Presentacion4{
    color: var(--titulo);
    font-family: var(--Oswald);
    background-color: var(--medicamentos-varios);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.presentacion4{
    text-align: center;
    padding: 20px;
}
.reconstitucion4{
    color: var(--titulo);
    font-family: var(--Oswald);
    background-color: var(--medicamentos-varios);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
}

.estabilidad4{
    margin: 10px 10px 0 10px;
    font-size: 40px;
    color: var(--medicamentos-varios);
    padding: 10px 10px 10px 10px;
    border-bottom: 3px solid var(--medicamentos-varios);
    text-align: center;
}

.administracion4{
    color: var(--medicamentos-varios);
    margin: 10px 10px 0 10px;
    padding: 10px 0;
    text-align: center;
    border-bottom: 3px solid var(--medicamentos-varios);
    font-size: 40px;
}

.datos__Fotosensible{
        text-align: center;
        padding: 20px 5px;
        background-color: var(--advertencia);
        font-weight: bolder;
        border-radius: 10px;
        margin: 10px 0;
        height: auto;
}

/*COLOR DE LOS DIURETICOS*/
.nombre__Farmaco5{
    font-family: var(--Oswald);
    color: black;
    font-size: 30px;
    background-color: var(--diureticos);
    padding: 15px 0;
    margin: 0 10px;
    border-radius: 10px;
}

.titulo__Presentacion5{
    color: black;
    font-family: var(--Oswald);
    background-color: var(--diureticos);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.presentacion5{
    text-align: center;
    padding: 20px;
}
.reconstitucion5{
    color: black;
    font-family: var(--Oswald);
    background-color: var(--diureticos);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
}

.estabilidad5{
    margin: 10px 10px 0 10px;
    font-size: 40px;
    color: goldenrod;
    padding: 10px 10px 10px 10px;
    border-bottom: 3px solid var(--diureticos);
    text-align: center;
}

.administracion5{
    color: goldenrod;
    margin: 10px 10px 0 10px;
    padding: 10px 0;
    text-align: center;
    border-bottom: 3px solid var(--diureticos);
    font-size: 40px;
}

.datos__Fotosensible{
        text-align: center;
        padding: 20px 5px;
        background-color: var(--advertencia);
        font-weight: bolder;
        border-radius: 10px;
        margin: 10px 0;
        height: auto;
}

.reconstitucion, .reconstitucion2, .reconstitucion3, .reconstitucion4, .reconstitucion5{
    height: 100px;
}
/*
.infoContainer{
    padding: 10px 10px;
    font-family: var(--Oswald);
}

.tituloMedicamento{
    text-align: center;
    font-family: var(--Oswald);
    color:var(--Azul-Antibioticos);
    font-weight: bolder;
}

.tituloReconstitucion{
    color: var(--Azul-Antibioticos);
    font-weight: bold;
    margin: 5px 0;
}
.tt{
    font-size: 1.3em;
}
b.tituloReconstitucion{
    color: var(--Azul-Antibioticos);
}
.advertencia{
    background-color: var(--advertencia);
    padding: 0 2px;
}
/*COLORES DE LOS INOTROPICOS
.tituloInotropico{
    text-align: center;
    font-family: var(--Oswald);
    color:var(--rojo-Inotropicos);
    font-weight: bolder;
}
.tituloReconstitucionIno{
    color: var(--rojo-Inotropicos);
    font-weight: bold;
    margin: 5px 0;
}
/*PANTALLAS DESDE 768PX
*/
@media screen and (max-width: 425px){
    div.contenedor.xs{
        margin-top: 0;
        width: 100%;
        font-family: var(--Oswald);
    }
    h2.titulo{
        font-size: 25px;
    }
    div.contenedor__Presentacion{
        width: 95%;
        grid-template-columns: 1fr;
    }
    div.contenedor__Estabilidad{
        width: 95%;
        grid-template-columns: 1fr;
    }
    .estabilidad,.estabilidad2,.estabilidad3,.estabilidad4,.estabilidad5{
        width:98%;
        font-size: 20px;
    }
    .administracion,.administracion2,.administracion3,.administracion4,.administracion5{
        width: 98%;
        font-size: 20px;
    }
    

}
@media screen and (max-width: 650px){
    div.contenedor.sm{
        margin-top: 0;
        width: 100%;
    }
    div.contenedor__Presentacion{
        width: 95%;
        grid-template-columns: 1fr;
    }
    div.contenedor__Estabilidad{
        width: 95%;
        grid-template-columns: 1fr;
    }
    .estabilidad,.estabilidad2,.estabilidad3,.estabilidad4,.estabilidad5{
        width:98%;
        font-size: 20px;
    }
    .administracion,.administracion2,.administracion3,.administracion4,.administracion5{
        width: 98%;
        font-size: 20px;
    }
    
    .texto1{
        font-size: 20px;
    }
    
    div.resultado{
        border-radius:0%;
    }
    .error{
        margin: 10px 20px;
        text-align: center;
        border: 2px dashed red;
    }
    .texto-error{
        font-size: 20px;
        color: red;
        font-weight: bolder;
    }
    .alerta{
        width: 100px;
    }
    .encuesta{
        background-color: var(--Fondo-Gris);
        overflow: hidden;
    }
    .detalle{
        padding: 10px;
        font-family: var(--Oswald);
        color: #e47200;
        font-size: 20px;
        font-weight: bolder;
    }
    summary{
    margin-bottom: 10px;
    }
    .aviso{
        font-size: 15px;
    }
}
@media screen and (max-width: 990px){
    div.contenedor.sm{
        margin-top: 0;
        width: 100%;
    }
    .contenedor__Presentacion{
        grid-template-columns: 1fr 1fr;
    }
    .contenedor__Estabilidad{
        width: 95%;
        grid-template-columns: 1fr 1fr;
    }
    .estabilidad,.estabilidad2,.estabilidad3,.estabilidad4,.estabilidad5{
        width:98%;
        font-size: 20px;
    }
    .administracion,.administracion2,.administracion3,.administracion4,.administracion5{
        width: 98%;
        font-size: 20px;
    }
    
    .texto1{
        font-size: 20px;
    }
    
    div.resultado{
        border-radius:0%;
    }
    .error{
        margin: 10px 20px;
        text-align: center;
        border: 2px dashed red;
    }
    .texto-error{
        font-size: 20px;
        color: red;
        font-weight: bolder;
    }
    .alerta{
        width: 100px;
    }
    .encuesta{
        background-color: var(--Fondo-Gris);
        overflow: hidden;
    }
    .detalle{
        padding: 10px;
        font-family: var(--Oswald);
        color: #e47200;
        font-size: 20px;
        font-weight: bolder;
    }
    summary{
    margin-bottom: 10px;
    }
}

@media (min-width: 1020px){
    .ml{
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
        background-color: var(--Fondo);
        border-radius: .6em;
        font-family: var(--Oswald);
    }
    .titulo-m{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-family: var(--Oswald);
        color: var(--titulo);
        font-size: 1.3em;
        padding: 5px 20px ;
        font-weight: bolder;
    }
    .error{
        margin: 10px 20px;
        text-align: center;
        border: 2px dashed red;
    }
    .texto-error{
        font-size: 20px;
        color: red;
        font-weight: bolder;
    }
    .alerta{
        width: 100px;
    }
    .encuesta{
        text-align: center;
        background-color: var(--Fondo-Gris);
    }
    .detalle{
        padding: 10px;
        font-family: var(--Oswald);
        color: #e47200;
        font-size: 20px;
        font-weight: bolder;
    }
    summary{
    margin-bottom: 10px;
    }
    .borde__inferior{
        border-radius: 0 0 .7em .6em;
    }
}


/*PANTALLAS DESDE 1024PX*/
@media (min-width: 1400px) {
    .l{
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
        background-color: var(--Fondo);
        border-radius: .6em;
        font-family: var(--Oswald);
    }
    .titulo-m{
        font-size: 1.5em;
    }
    .error{
        margin: 10px 20px;
        text-align: center;
        border: 2px dashed red;
    }
    .texto-error{
        font-size: 20px;
        color: red;
        font-weight: bolder;
    }
    .alerta{
        width: 100px;
    }
    .detalle{
        padding: 10px;
        font-family: var(--Oswald);
        color: #e47200;
        font-size: 20px;
        font-weight: bolder;
    }
    summary{
    margin-bottom: 10px;
    }
    .encuesta{
        text-align: center;
        background-color: var(--Fondo-Gris);
    }
    .borde__inferior{
        border-radius: 0 0 .6em .6em;
    }
}

@media (min-width: 1440px){
    .contenedor{
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        background-color: var(--Fondo);
        border-radius: .6em;
        font-family: var(--Oswald);
    }
    .error{
        margin: 10px 20px;
        text-align: center;
        border: 2px dashed red;
    }
    .texto-error{
        font-size: 20px;
        color: red;
        font-weight: bolder;
    }
    .alerta{
        width: 100px;
    }
    .encuesta{
        text-align: center;
        background-color: var(--Fondo-Gris);
    }
    .detalle{
        padding: 10px;
        font-family: var(--Oswald);
        color: #e47200;
        font-size: 20px;
        font-weight: bolder;
    }
    summary{
    margin-bottom: 10px;
    }
    .borde__inferior{
        border-radius: 0 0 .6em .6em;
        margin-bottom: 200px;
    }
}
   



