body{
    margin: 0px;
    padding:0px;
}

.portadita{
    padding:20px;
    background-color:rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    border-radius: 20px;
}
.novedades{
    border-bottom: 1px solid dark;
}

#texto{
 align-items: center;
 font-weight: bold;
}

.borde{
     border: 1px solid blue;
     box-shadow: 2px 2px 2px 2px rgba(1, 1, 112, 0.2);
    
}

.parrafo{
    text-align: justify;
}

 #visorpdf{
    border: 1px solid black;
    width: 100%; /* takes precedence over the width set with the HTML width attribute */
}

#tarjeta{
    display: none;
}

footer{
    width:500px;
}

@media (max-width:1000px){
    .titulo{
        text-align: center;
    }

    .parrafo{
        font-size: 10px;
        text-align: justify;
    }
    .lista1{
        font-size: 15px;
    }

    #visorpdf{
        display: none;
    }
    #tarjeta{
        display: contents;
        width: 450px;
        height: auto;
    }
    #foto{
        width: 400ppx;
        height: auto;
    }
    .pieletra{
        font-size: 10px;
    }
}

/***********/
/*LOGO DE ENFERMERIA DEL NAV*/
#enfconec{
    padding-top: 10px;
    font-size: 18px;
}
#logo{
    width: 100px;
    height: 60px;
}

@media (max-width: 400px){
    #enfconec{
        font-size: 14px;
    }
    #logo{
        width: 100px;
        height: 50px;
    }
}

@media (max-width: 350px){
    #enfconec{
        font-size: 12px;
    }

    #logo{
        width:80px;
        height: 40px;
    }

}

/**************************************************************************************/
/************CAJAS DE LA BIBLIOGRAFIA*************************************************/
/**MOBILE FISRT 420PX INICIAL Y DE AHI ESCALAR A TAMAÑOS MAS GRANDES**/
#contenedor_inicio{
    width:100%;
    background-color: aliceblue;
}
.contenedor_letra_E{
    width: 100%;
    margin-bottom: 4%;
    background-color: #FFFFFF;
}
.letra{
    border: 1px solid #000000;
    padding: 0;
}
.letra_marcador{
    margin: 0;
    padding-left: 6%;
}
.contenedor_informacion{
    width: 100%;
    margin-top: 3%;
}
.titulo_manual{
    font-size: 15px;
    text-align: center;
}
.contenedor_importante{
    width: 100%;
    text-align: center;
}
.portada{
    border: 1px solid darkgreen;
}
.contenedor_data{
    margin-top: 3%;
}
.autor{
    text-align: start;
    font-size: 10px;
}
.descripcion{
    text-align: justify;
    font-size: 10px;
}
.toque{
    width:50%;
    padding: 5px;
    background-color: #000000;
    border-radius: 20px;
}
.ancla{
    color: #FFFFFF;
    font-weight: bold;

    text-decoration: none;
}

.toque:hover{
    width: 75%;
    margin-bottom: 20px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}
.ancla:hover{
    margin: 20px 0;
    color: #000000;
}

@media(min-width:580px){
    .contenedor_informacion{
        margin: 3% auto;
        width: 100%;
    }
    .contenedor_importante{
        display: grid;
        grid-template-columns: auto auto;
        border-bottom: 2px solid #000000;
    }
    .titulo_manual{
        font-size: 20px;
    }
    .portada{
        width: 150px;
        margin-bottom: 2px;
    }
    .manual_Amplya{
        width: 150px;
        height: 95%;
    }
    .portada_Small{
        height: 180px;
    }
    .contenedor_data{
        margin-left: 10px;
    }
    .autor{
        font-size: 15px;
    }
    .descripcion{
        font-size: 12px;
        margin-bottom: 0px;
    }
    .toque{
        width:60%;
        margin: 10px 0;
    }
    .toque:hover{
        width:35%;
    }
}

@media(min-width: 636px){
    .descripcion{
        margin-bottom: 3%;
    }
    .toque{
        width: 50%;
        margin-bottom: 10px;
        font-size: 15px;
    }
    .portada{
        width: 200px;
        height: 95%;
        margin-bottom: 2px;
    }
    .manual_Amplya{
        width: 200px;
        height: 95%;
    }
}
@media(min-width:790px){
    .contenedor_informacion{
        width: 80%;
    }
    .toque{
        width: 40%;
    }
    .portada{
        width: 200px;
        height: 95%;
        margin-bottom: 2px;
    }
    .manual_Amplya{
        width: 200px;
        height: 95%;
    }
}
@media(min-width:843px){
    .toque{
        font-size: 20px;
    }
}

@media (min-width:1000px){
    .grilla{
        display: grid;
        grid-template-columns: auto auto;
        padding: 0%;
    }
    .contenedor_informacion{
        width: 95%;
    }
    .manual_Amplya{
        width: 200px;
        height: 95%;
    }
    .portada_Small{
        height: 240px;
        margin-bottom: 10px;

    }
    .higiene_Portada{
        height: 95%;
    }
    .toque{
        font-size: 10px;
    }
}

@media (min-width:1150px){
    .portada_Small{
        width: 200px;
        height: 95%;
        margin-bottom: 15px;
    }
}

/***********CAJA DE LAS CARATULAS****************************************************/
 img.caratulas{
    width: 310px;
 }

 /***********************************RESUMEN***************************************/
 div.contenedor{
    border: 1px solid black;
 }

 h4.titulo_caratula{
    font-size: 15px;
}
 p.abstrac{
    font-size: 10px;
    text-align: justify;
 }


 a.link{
    text-decoration: none;
    color: white;
 }

 button.botoncito{
    font-size: 10px;
 }

 a.link:hover{
    color: black;
 }

 .pieletra{
    font-size: 10px;
 }


 /*************RESPONSIVO*************************/
 @media(max-width:1236px){

    img.caratulas{
        width:240px;
        height: 220px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 0%;
    }
    h4.titulo_caratula{
        font-size: 12px;
    }
    p.abstrac{
        font-size: 8px;

     }
     button.botoncito{
        font-size: 10px;
     }

     p.pieletra{
        text-align: center;
        font-size: 8px;
     }
 }
/**********************************/
@media(max-width:1185px){
    img.caratulas{
        width:240px;
    }
}


 @media(max-width:1147px){

    img.caratulas{
        width:240px;
        height: 220px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    h4.titulo_caratula{
        font-size: 10px;
    }
    p.abstrac{
        font-size: 8px;
     }
     button.botoncito{
        font-size: 10px;

     }
     p.pieletra{
        text-align: center;
        font-size: 8px;
     }
 }

 @media(max-width:1108px){
    img.caratulas{

        width: 240px;
        height: 220px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
 }

 @media(max-width:1060px){
 
    img.caratulas{
        width:240px;
        height: 220px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    h4.titulo_caratula{
        font-size: 10px;
    }
    p.abstrac{
        font-size: 8px;
    
     }
     button.botoncito{
        font-size: 8px;
     }
     p.pieletra{
        text-align: center;
        font-size: 6px;
     }
/********DISMINUCION DE LA IMAGEN*******/
 }@media(max-width:991px){
    img.caratulas{
        width:280px;
        height: 220px;
        padding-top: 2px;
        padding-bottom: 2px;
 }
    h4.titulo_caratula{
    font-size: 14px;
}
    p.abstrac{
    font-size: 12px;

 }
    button.botoncito{
    font-size: 12px;
 }
    p.pieletra{
    text-align: center;
    font-size: 12px;
 }

 }


 @media(max-width:907px){

    img.caratulas{
        width:260px;
        height: 220px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

 }
/****RANGO DE MARGIN EN EL ABSTRACT*****/
 @media(max-width:820px){
    img.caratulas{
        width:240px;
        height: 220px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
 }

/*************************************/
 @media(max-width:775px){
 
    img.caratulas{
        width:230px;
        height: 210px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    h4.titulo_caratula{
        font-size: 14px;
    }
    p.abstrac{
        font-size: 10px;
     }
     button.botoncito{
        font-size: 10px;
     }
     p.pieletra{
        text-align: center;
        font-size: 10px;
     }
 }
/************RANGO DEL PADDING EN EL ABSTRACT************/
@media(max-width:755px){
    img.caratulas{
        width:220px;
        height: 200px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    h4.titulo_caratula{
        font-size: 14px;
    }
    p.abstrac{
        font-size: 10px;
     }
     button.botoncito{
        font-size: 10px;
     }
     p.pieletra{
        text-align: center;
        font-size: 10px;
     }
 }

 @media(max-width:712px){
    img.caratulas{
        width:200px;
        height: 200px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    h4.titulo_caratula{
        font-size: 14px;
    }
    p.abstrac{
        font-size: 10px;
     }
     button.botoncito{
        font-size: 10px;
     }
     p.pieletra{
        text-align: center;
        font-size: 10px;
     }
 }


 @media(max-width: 650px){
    div.contenedor{
        border: none;
        border-bottom: 2px solid black;
    }

    img.caratulas{
        width:180px;
        height: 180px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    p.abstrac{
        font-size: 8px;
        
     }
 }

 @media(max-width:576px){
        img.caratulas{
            width:300px;
            height: 250px;
        }
 }