body{
    margin: 0%;
    padding:0%;
}

main{
    background-color: lightgrey;
    margin:0%;
    padding: 0%;
}

header{
    background-color: #000000;
}
/************************************************************************/
/*LOGO DE ENFERMERIA DEL NAV*/
#enfconec{
    padding-top: 10px;
    font-size: 18px;
}
#logo{
    width: 100px;
    height: 60px;
}

@media (max-width: 400px){
    #enfconec{
        font-size: 14px;
    }
    #logo{
        width: 100px;
        height: 50px;
    }
}

@media (max-width: 350px){
    #enfconec{
        font-size: 12px;
    }

    #logo{
        width:80px;
        height: 40px;
    }

}

/***********************************************************************/

/*************************IMAGEN DEL BANNER*********************/
.caja_banner{
    width: 100%;
    margin: 0%;
    padding: 0;
    border-radius: 0 0 5px 5px;
}

.banner{
    width: 100%;
    height: 170px;
    margin-top: 0%;
    margin-left: 0;
    margin-right: 0;
    padding: 0%;
}
/*RESPONSIVO*/

@media (min-width:540px){
 .banner{
    height: 200px;
 }
}

@media (min-width:670px){
   .banner{
    height: 250px;
   }
}
@media (min-width:1000px){
    .caja_banner{
        height: 300px;
        background-image: url("http://drive.google.com/uc?export=view&id=18OANOajNQTyRNBEEz-vYKgvXYcRGevSr");
        background-size: cover;
    }
    .banner{
        display: none;
    }
}

/****************portada con link de descarga************************************/
.caja_portada{
    width:100%;
    text-align: center;
}
.portada{
    width: 100%;
    height: 450px;
    align-items: center;
    margin: 0 auto;
   
}
.caja_autora{
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 15px;
}
.autora_karina{
    margin: 5px 0 0 0;
}

.boton_pdf{
    background-color: limegreen;
    color: aliceblue;
    text-decoration: none;
    padding: 5px 5px;
    border: none;
}
.link_pdf{
    color: aliceblue;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/*HOVER*/
.boton_pdf:hover,.link_pdf:hover {
    cursor: pointer;
    background-color: darkgreen;
    color: #FFFFFF;
    width: 60%;
    padding: 10px 10px;
    border-radius: 10px;
}
/***RESPONSIVO***/
@media (min-width:500px){
    .caja_portada{
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 630px){
    .caja_portada{
        width: 60%;
    }
}

@media (min-width:900px){
    .fondoEnPc{
        background-color: azure;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .caja_portada{
        background-color: aliceblue;
        width: 70%;
        padding: 3%;
        border: 10px solid green;
        border-radius: 50%;
        display: grid;
        grid-template-columns: auto auto;
    }
    .portada{
        width: 100%;
        height: 300px;
        padding: 0%;
        box-shadow: 0px 0px 5px 3px black;
    }
    .caja_autora{
        font-size: 18px;
        margin-top: 20%;
    }
}
@media(min-width: 1200px){
    .caja_portada{
        width:50%;
    }
    .caja_autora{
        font-size: 20px;
    }
}
/***************INTRODUCCION 1********************************************/
.introduccion_1{
    color: #000000;
    font-size: 70%;
    text-align: justify;
    font-weight: bold;
}

summary{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

section{
    text-align: center;
    margin-left: auto;
}
/***responsivo***/
@media (min-width:670px){
    .introduccion_1{
        font-size: 80%;
    }
 }

 @media(min-width:1000px){
    .introduccion_1{
        font-size: 90%;
    }
 }




/*********************************************************************/
/**************************INDICE*************************************/
.indice_pegado{
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    width: 100%;

}
.indice{
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.fondodelindice{
    background-color: limegreen;  
    margin: 0 20px;
    padding-left:10px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 1px 2px 1px #000000;
}
.itemindice{
    text-align: start;
    text-decoration: none;
    padding: 10px 10px 10px 0px;
    list-style: none;
}
.item{
    color: #FFFFFF;
    font-size:20px;
    font-weight: bold;
    text-decoration: none;
}
.seccion_indice{
    text-align: start;
    color: #FFFFFF;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid darkgreen;
    background-color: limegreen;
    width: 100%;
    padding: 5px 10px;
}
@media(min-width:1000px){
    .indice{
        display: none;
    }
}

.caja_indice2{
    display: none;
}
/*************INTRODUCCION DEL LIBRO************************************/
.cajaDelTexto{
    display: none;
    color: #000000;
    width: 100%;
    margin-top: 5px;
}

.contencion{
    width: 100%;
    margin-top: 5px;
    margin: 0 auto;
    text-align: center;
    
}
.seccion{
    color: limegreen;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid darkgreen;
    background-color: #FFFFFF;
    width: 100%;
    text-align: start;
    padding: 5px 10px;
}
.seccion_1, .seccion_2{
    color: limegreen;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid darkgreen;
    background-color: #FFFFFF;
    width: 100%;
    text-align: start;
    padding: 5px 10px;
}
.texto_intro{
    color: #000000;
    text-align: justify;
    width: 100%;
    padding-top:5px;
    padding-left: 15px;
    padding-right: 30px;
}
.seccion_2{
    font-size: 23px;
}
.listaobjetivosdelservicio{
    text-align: justify;
    color: #000000;
    width: 95%;
}
.listaobjetivos1{
    margin: 10px 0;
}
.tabla_1{
    width: 100%;
}
.titulo_indicador{
    color: limegreen;
    margin-top: 5px;
    font-weight: bold;
}

/*RESPONSIVO*/

@media(min-width:1000px){
    .contencion{
        display: none;
    }
    .modo_escritorio{
        display: grid;
        grid-template-columns: auto auto;
        margin: 1% 2%;
        align-items:baseline;
    }
    .caja_indice2{
        display:block;
        position: sticky;
        top: -1px;
        width: 110%;
        margin: 0 auto;
        color: #FFFFFF;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding: 15px;
        background-color: limegreen;
        border-radius: 20px;
    }
    .anclas_ordenador{
        font-size: 15px;
        color: #FFFFFF;
        font-weight: bold;
        padding: 10px 0;
        list-style: none;
        text-decoration: none;
    }
    .cajaDelTexto{
        color: #000000;
        display: block;
        width: 95%;
        margin: 0 auto;
        margin-right: 0;
        
    }
    .cajaDelTexto2{
        margin-top: 10px;
        padding: 20px;
        background-color: #FFFFFF;
        border-radius: 20px;

    }
    .titulo_oculto{
        border-bottom: 1px solid #000000;
    }
    .tabla_1{
        width: 40%;
        margin-bottom: 5px;
    }
    .contenedorImgIngresos{
        width:60%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto;
    }
    .tabla_1_1{
        width: 100%;
    }
    .tabla_1_2{
        width: 100%;
        z-index: 1;
    }
    .contenedortablaedad{
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }
    .tabla_1_3{
        width: 50%;
        justify-content: center;
    }
    /*HOVER*/
    .tabla_1_1:hover{
        position: relative;
        width: 200%;
        border: 5px solid darkgreen;
        z-index: 13;
    }
    .tabla_1_2:hover{
        position: relative;
        margin-left: -100%;
        width: 200%;
        border: 5px solid darkgreen;
        z-index: 13;
    }
    .tabla_1_3:hover{
        position: relative;
        width: 100%;
        border: 5px solid darkgreen;
        z-index: 13;
    }
    .titulo_indicador{
        margin-left: 15px;
    }
}
@media(min-width:1100px){
    .anclas_ordenador{
        font-size: 20px;
    }
}
/******************CARTA FOTOGRAFICA*************************************/
section{
    margin-top: 10px;
}
.contenedor_caja_carta{
    width:90%;
    margin: 0 auto; 
}

.contenedor_imagen_carta{
    width: 100%;
}

.imagen_carta{
    width:100%;
    border-radius: 15px 15px 0 0;
}
/*SOLO PARA LA PORTADA DE ESTADISTICAS 2023*/
.especial_estadisticas{
    width:100%;
    height: 300px;
    border-radius: 15px 15px 0 0;
}

@media (min-width: 600px){
    .especial_estadisticas{
        height: 200px;
    }
}

/*********************************************/
/*SOLO PARA PORTADA DE MONITOREO DE COMBOS JUNIO 2023*/
.imagen_carta_medidas_junio{
    width:100%;
    border-radius: 15px 15px 0 0;
}
/**************************/
.contenedor_info{
    color: #000000;
    background-color: aliceblue;
    border-radius: 0 0 15px 15px;
    margin-bottom: 5px;
}
.titulito{
    padding-top: 5px;
}
.titulo_largo{
    margin: 0 10px;
    margin-bottom: 10px;
}

.autora{
    font-weight: bold;
    margin-left: 3px;
    margin-bottom: 5px;
}

.resumen{
    font-size: 80%;
    text-align: justify;
    margin: 0 10px;
}

.boton{
    background-color: brown;
    width: 180px;
    margin: 10px 0;
    border-radius: 5px;
    text-decoration: none;
}

.link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/********RESPONSIVO*********/
@media(min-width: 600px){
    .grilla{
        display: grid;
        grid-template-columns: auto auto;
    }
    section{
        margin-top: 15px;
    }
    .contenedor_caja_carta{
        width:90%;
    }
    .contenedor_imagen_carta{
        height: 200px;
    }
    .imagen_carta{
        height: 100%;
    }
    .imagen_carta_medidas_junio{
        height: 100%;
    }
    .contenedor_info{
        height: 330px;
    }
    .titulito{
        height: 90px;
        padding-top: 5px;
    }
    .autora{
        margin-top: 15px;
    }
    .resumen{
        height: 145px;
    }
    .boton{
        margin-top: 0x;
    }

}

@media(min-width:750px){
    
    .grilla{
        display: grid;
        grid-template-columns: auto auto;
    }
    section{
        margin-top: 15px;
    }
    .contenedor_caja_carta{
        width:90%;
    }
    .contenedor_imagen_carta{
        height: 200px;
    }
    .imagen_carta{
        height: 100%;
    }
    .imagen_carta_medidas_junio{
        height: 100%;
    }
    .contenedor_info{
        height: 270px;
    }
    .titulito{
        height: 60px;
        padding-top: 5px;
    }
    .autora{
        margin-top: 15px;
    }
    .resumen{
        height: 120px;
    }
    .boton{
        margin-top: 0px;
    }
}

@media(min-width: 1000px){
    .grilla{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .contenedor_imagen_carta{
        height: 200px;
    }
    .imagen_carta{
        height: 100%;
    }
    .imagen_carta_medidas_junio{
        height: 100%;
    }
    .contenedor_info{
        height: 320px;
    }
    .titulito{
        height: 90px;
        padding-top: 5px;
    }
    .autora{
        margin-top: 15px;
    }
    .resumen{
        height: 120px;
    }
    .boton{
        margin-top: 20px;
    }
}

@media(min-width: 1200px){
    .grilla{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .contenedor_imagen_carta{
    height: 200px;
    }
    
    .imagen_carta{
        height: 100%;
    }
    .imagen_carta_medidas_junio{
        height: 100%;
    }
    .contenedor_info{
        height: 300px;
    }
    .titulito{
        height: 80px;
    }
    .resumen{
        height: 120px;
    }
}

/************************************************************************/
.divisor{
    height: 30px;
}