body{
    margin: 0px;
    padding:0px;
}

.bold{
    font-weight: bold!important;
}
.bold:hover{
    font-size: 20px;
}
/***********/
/*LOGO DE ENFERMERIA DEL NAV*/
#enfconec{
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 10px;
    font-size: 16px;
}
#logo{
    width: 100px;
    height: 60px;
}

@media (max-width: 400px){
    #enfconec{
        font-size: 14px;
    }
    #logo{
        width: 100px;
        height: 50px;
    }
}

@media (max-width: 350px){
    #enfconec{
        font-size: 12px;
    }

    #logo{
        width:80px;
        height: 40px;
    }

}

/**************/

#pie{
    min-height: 500px;
}