
.texto-justificado{
    text-align: justify;
}
/***********************************************/
#enfconec{
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
 }
 #logo{
    width: 100px;
    height: 60px;
 }
/***********************************************/
.cajaParaFotos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.fotos{
    border: 5px solid #000000;
    border-radius: 5px;
}
 
@media (max-width: 600px){
    .cajaParaFotos{
        grid-template-columns: 1fr;
    }
    .fotos{
        width: 70%;
    }
    #enfconec{
        font-size: 14px;
    }
    #logo{
        width: 100px;
        height: 50px;
    }
}