

.banner1{
    height: 250px;
    background-image: url("/ASSETS/IMAGENES/BANNERS/Banner_protocolos_05-Estadisticas.webp");
    background-size:100% 250px;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width:1000px){
    .banner1{
        height: 200px;
        background-size: 100% 200px;
    }
}

@media (max-width:600px){
    .banner1{
        height: 150px;
        background-size: 100% 160px;
    }
}
