body{
    margin: 0%;
    padding:0%;
}

main{
    background-color: lightgrey;
    margin:0%;
    padding: 0%;
}

header{
    background-color: #000000;
}
/************************************************************************/
/*LOGO DE ENFERMERIA DEL NAV*/
#enfconec{
    padding-top: 10px;
    font-size: 18px;
}
#logo{
    width: 100px;
    height: 60px;
}

@media (max-width: 400px){
    #enfconec{
        font-size: 14px;
    }
    #logo{
        width: 100px;
        height: 50px;
    }
}

@media (max-width: 350px){
    #enfconec{
        font-size: 12px;
    }

    #logo{
        width:80px;
        height: 40px;
    }

}

/***********************************************************************/

/*************************IMAGEN DEL BANNER*********************/
/*RESPONSIVO*/

@media (min-width:1000px){
    .resumen{
        margin-bottom: 30px;
    }
}


/***************INTRODUCCION 1********************************************/
.introduccion_1{
    color: #000000;
    font-size: 70%;
    text-align: justify;
    font-weight: bold;
}

summary{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

section{
    text-align: center;
    margin-left: auto;
}
/***responsivo***/
@media (min-width:670px){
    .introduccion_1{
        font-size: 80%;
    }
 }

 @media(min-width:1000px){
    .introduccion_1{
        font-size: 90%;
    }
 }




/*********************************************************************/

/******************CARTA FOTOGRAFICA*************************************/
section{
    margin-top: 10px;
}
.contenedor_caja_carta{
    width:90%;
    margin: 0 auto; 
}

.contenedor_imagen_carta{
    width: 100%;
}

.imagen_carta{
    width:100%;
    border-radius: 15px 15px 0 0;
}
/*SOLO PARA LA PORTADA DE ESTADISTICAS 2023*/
.especial_estadisticas{
    width:100%;
    height: 300px;
    border-radius: 15px 15px 0 0;
}

@media (min-width: 600px){
    .especial_estadisticas{
        height: 200px;
    }
}

/*********************************************/
/*SOLO PARA PORTADA DE MONITOREO DE COMBOS JUNIO 2023*/
.imagen_carta_medidas_junio{
    width:100%;
    border-radius: 15px 15px 0 0;
}
/**************************/
.contenedor_info{
    color: #000000;
    background-color: aliceblue;
    border-radius: 0 0 15px 15px;
    margin-bottom: 5px;
}
.titulito{
    padding-top: 5px;
}
.titulo_largo{
    margin: 0 10px;
    margin-bottom: 10px;
}

.autora{
    font-weight: bold;
    margin-left: 3px;
    margin-bottom: 5px;
}

.resumen{
    font-size: 80%;
    text-align: justify;
    margin: 0 10px;
}

.boton{
    background-color: brown;
    width: 180px;
    margin: 10px 0;
    border-radius: 5px;
    text-decoration: none;
}

.link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/********RESPONSIVO*********/
@media(min-width: 600px){
    .grilla{
        display: grid;
        grid-template-columns: auto auto;
    }
    section{
        margin-top: 15px;
    }
    .contenedor_caja_carta{
        width:90%;
    }
    .contenedor_imagen_carta{
        height: 200px;
    }
    .imagen_carta{
        height: 100%;
    }
    .imagen_carta_medidas_junio{
        height: 100%;
    }
    .contenedor_info{
        height: 330px;
    }
    .titulito{
        height: 90px;
        padding-top: 5px;
    }
    .autora{
        margin-top: 15px;
    }
    .resumen{
        height: 145px;
    }
    .boton{
        margin-top: 0x;
    }

}

@media(min-width:750px){
    
    .grilla{
        display: grid;
        grid-template-columns: auto auto;
    }
    section{
        margin-top: 15px;
    }
    .contenedor_caja_carta{
        width:90%;
    }
    .contenedor_imagen_carta{
        height: 200px;
    }
    .imagen_carta{
        height: 100%;
    }
    .imagen_carta_medidas_junio{
        height: 100%;
    }
    .contenedor_info{
        height: 270px;
    }
    .titulito{
        height: 60px;
        padding-top: 5px;
    }
    .autora{
        margin-top: 15px;
    }
    .resumen{
        height: 120px;
    }
    .boton{
        margin-top: 0px;
    }
}

@media(min-width: 1000px){
    .grilla{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .contenedor_imagen_carta{
        height: 200px;
    }
    .imagen_carta{
        height: 100%;
    }
    .imagen_carta_medidas_junio{
        height: 100%;
    }
    .contenedor_info{
        height: 320px;
    }
    .titulito{
        height: 90px;
        padding-top: 5px;
    }
    .autora{
        margin-top: 15px;
    }
    .resumen{
        height: 130px;
    }
    .boton{
        margin-top: 20px;
    }
}

@media(min-width: 1200px){
    .grilla{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .contenedor_imagen_carta{
    height: 200px;
    }
    
    .imagen_carta{
        height: 100%;
    }
    .imagen_carta_medidas_junio{
        height: 100%;
    }
    .contenedor_info{
        height: 300px;
    }
    .titulito{
        height: 80px;
    }
    .resumen{
        height: 120px;
    }
}

/************************************************************************/
.divisor{
    height: 30px;
}